# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iml
!.vscode/
!.vscode/settings.json
.project
.classpath
.settings/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
/app/logs/

# Env
.env
.env.local
application-local.yml
.playwright-cli
output
